@import url(./assets/font/font.css);

.container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  box-sizing: border-box;
}

/* .button {
  width: 100%;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #00aae6;
  color: #FFF;
} */

.button {
  transition: opacity 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  opacity: 0.6;
}

.shadow-button {
  transition: box-shadow 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.shadow-button:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.scale-button {
  transition: transform 0.15s linear;
  cursor: pointer;
  text-decoration: none;
}

.scale-button:hover {
  transform: scale(1.2);
}
